<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File" fileName="NToolbox.log" layout="[${date:format=yyyy.MM.dd HH\:mm\:ss}][${level:uppercase=true}][${threadid}][${callsite:skipFrames=1}]${newline}${message} ${exception:format=tostring}${newline}"/>
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

</configuration>
